[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
webargs = "*"
httpx = "*"
pandas = "*"
memory_profiler = "*"

[dev-packages]
ipython = "*"
pylint = "*"
faker = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.12"
