[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
jupyterlab = "*"
notebook = "*"
flask = "*"
faker = "*"
webargs = "*"
httpx = "*"
pandas = "*"
memory_profiler = "*"

[dev-packages]
ipython = "*"
mypy = "*"
pylint = "*"

[requires]
python_version = "3.12"
